<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Ruta dinámica para el archivo CSS -->
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="icon" href="{% static 'imagenes/logo_ICO.ico' %}" type="image/x-icon" />


</head>

<body>
    <main class="main-container">
        <div class="register-container">
            <div class="d-flex justify-content-center align-items-center mt-3">
                <label class="me-2">
                    <a href="{% url 'login' %}" class="text-decoration-none text-primary fw-bold">
                        Iniciar sesión
                    </a>
                </label>
                <span class="mx-2 text-secondary">|</span>
                
            </div>

            <h1 class="main-title">Sagrado corazón de Jesús</h1>
            <h2 class="subtitle">Iniciar sesion</h2>

            <!-- Mostrar mensajes de error -->
            {% if messages %}
            <div class="container mb-3">
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            

            <div id="formMedico">
                <form method="post" action="{% url 'login_medico' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="usuarioMedico" class="form-label">Usuario Medico</label>
                        <input type="text" class="form-control" name="username" id="usuarioMedico" required
                            placeholder="Ingrese nombre de usuario">
                    </div>
                    <div class="mb-3">
                        <label for="emailMedico" class="form-label">Contrasena</label>
                        <input type="password" class="form-control" name="password" id="passwordMedico" required
                            placeholder="Ingrese contrasena">
                    </div>
                    <a href="#" class="text-decoration-none text-primary fw-bold" id="forgotPasswordMedico">Olvidé mi contraseña</a>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar sesión</button>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="forgotPasswordModalLabel">Recuperar contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-body-content">
                        <!-- Contenido inicial: Ingresar correo -->
                        <form id="email-form" action="{% url 'forgot_password_med' %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="emailRecovery" class="form-label">Correo electrónico</label>
                                    <input name="email_recovery" type="email" class="form-control" id="emailRecovery" placeholder="Ingrese su correo electrónico" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ruta dinámica para el archivo JS -->
        <script src="{% static 'js/switch-screen.js' %}"></script>
        <script>

            document.getElementById('forgotPasswordMedico').addEventListener('click', function() {
                var myModal = new bootstrap.Modal(document.getElementById('forgotPasswordModal'));
                myModal.show();
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const modal = document.getElementById('forgotPasswordModal');
                const modalBodyContent = document.getElementById('modal-body-content');

                // Función para mostrar alertas con SweetAlert2
                function showAlert(icon, title, text) {
                    Swal.fire({
                        icon: icon,
                        title: title,
                        text: text,
                    });
                }

                // Manejar el envío del formulario de correo
                document.getElementById('email-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(this);

                    fetch("{% url 'forgot_password_med' %}", {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            // Cambiar el contenido del modal para ingresar el OTP
                            modalBodyContent.innerHTML = `
                                <form id="otp-form" action="{% url 'validate_otp' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="otp" class="form-label">Código OTP</label>
                                            <input name="otp" type="text" class="form-control" id="otp" placeholder="Ingrese el código OTP" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Validar OTP</button>
                                    </div>
                                </form>
                            `;

                            // Manejar el envío del formulario de OTP
                            document.getElementById('otp-form').addEventListener('submit', function(event) {
                                event.preventDefault();
                                const otpFormData = new FormData(this);

                                fetch("{% url 'validate_otp' %}", {
                                    method: 'POST',
                                    body: otpFormData,
                                    headers: {
                                        'X-CSRFToken': otpFormData.get('csrfmiddlewaretoken'),
                                    },
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.status === 'success' && data.allow_password_change) {
                                        // Cambiar el contenido del modal para cambiar la contraseña
                                        modalBodyContent.innerHTML = `
                                            <form id="change-password-form" action="{% url 'change_password' %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="new_password" class="form-label">Nueva contraseña</label>
                                                        <input name="new_password" type="password" class="form-control" id="new_password" placeholder="Ingrese su nueva contraseña" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                                                </div>
                                            </form>
                                        `;

                                        // Manejar el envío del formulario de cambio de contraseña
                                        document.getElementById('change-password-form').addEventListener('submit', function(event) {
                                            event.preventDefault();
                                            const passwordFormData = new FormData(this);

                                            fetch("{% url 'change_password' %}", {
                                                method: 'POST',
                                                body: passwordFormData,
                                                headers: {
                                                    'X-CSRFToken': passwordFormData.get('csrfmiddlewaretoken'),
                                                },
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.status === 'success') {
                                                    showAlert('success', 'Éxito', 'Contraseña cambiada correctamente.');
                                                    modal.hide(); // Cerrar el modal
                                                } else {
                                                    showAlert('error', 'Error', data.message); // Mostrar mensaje de error
                                                }
                                            });
                                        });
                                    } else {
                                        showAlert('error', 'Error', data.message); // Mostrar mensaje de error
                                    }
                                });
                            });
                        } else {
                            showAlert('error', 'Error', data.message); // Mostrar mensaje de error
                        }
                    });
                });
            });
        </script>
        <!-- SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </main>
</body>

</html>