<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <main class="main-body">
    <div class="sidebar">
        <div class="logo">
            🏥 DermaCare
        </div>
        <nav>
            <a href="{% url 'inicio' %}" class="nav-item">Inicio</a>
            <a href="{% url 'doctores' %}" class="nav-item">Doctores</a>
            <a href="{% url 'productos' %}" class="nav-item active">Productos</a>
            <a href="#" class="nav-item">Alergias y Enfermedades</a>
            <a href="{% url 'tratamientos' %}" class="nav-item">Tratamientos</a>
        </nav>
    </div>
    <div class="main-content">
        <div class="top-bar">
            <h2>Productos</h2>
            <div class="icons">
                <img src="{% static 'imagenes/notificaciones.png' %}" alt="">
                <img src="{% static 'imagenes/usser.png' %}" alt="">
            </div>
        </div>
        
        <div class="container-fluid px-0">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <input type="search" id="searchProducts" class="form-control" placeholder="Buscar productos...">
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Filtrar por tipo de producto">
                        <option selected>Todos los tipos de productos</option>
                        {% for tipo in tipos %}
                            <option value="{{ tipo }}">{{ tipo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" id="agregarProductoBtn" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">Agregar Producto</button>
                </div>
            </div>

            {% if messages %}
                <div class="container mt-3">
                {% for message in messages %}
                <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                >
                    <strong>{{ message }}</strong>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    ></button>
                </div>
                {% endfor %}
                </div>
            {% endif %}

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for producto in productos %}
                <div class="col">
                    <div class="card h-100 product-card">
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text"><small class="text-muted">Precio: ${{ producto.precio }}</small></p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailsModal"  
                                data-nombre="{{ producto.nombre }}"
                                data-descripcion="{{ producto.descripcion }}"
                                data-precio="{{ producto.precio }}"
                                data-marca="{{ producto.marca }}"
                                data-tipo="{{ producto.tipo }}">
                                Ver detalles
                            </button>
                            <button class="btn btn-outline-secondary btn-sm">Editar</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal para agregar producto -->
    <div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'agregar_producto' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombreProducto" class="form-label">Nombre del Producto</label>
                            <input type="text" class="form-control" id="nombreProducto" name="nombre" placeholder="Ingrese el nombre">
                        </div>
                        <div class="mb-3">
                            <label for="descripcionProducto" class="form-label">Descripción del Producto</label>
                            <textarea class="form-control" id="descripcionProducto" name="descripcion" rows="3" placeholder="Ingrese descripción"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="precioProducto" class="form-label">Precio del Producto</label>
                            <input min="0" step="0.01" type="number" class="form-control" id="precioProducto" name="precio" placeholder="Ingrese el precio">
                        </div>
                        <div class="mb-3">
                            <label for="marcaProducto" class="form-label">Marca del Producto</label>
                            <input type="text" class="form-control" id="marcaProducto" name="marca" placeholder="Ingrese la marca">
                        </div>
                        <div class="mb-3">
                            <label for="tipoProducto" class="form-label">Tipo</label>
                            <select class="form-select" id="tipoProducto" name="tipo">
                                {% for tipo in tipos %}
                                    <option  value="{{ tipo }}">{{ tipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Agregar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal detalles productos -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalles del Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nombre:</strong> <span id="modalProductName"></span></p>
                    <p><strong>Descripción:</strong> <span id="modalProductDescription"></span></p>
                    <p><strong>Precio:</strong> <span id="modalProductPrice"></span></p>
                    <p><strong>Marca:</strong> <span id="modalProductBrand"></span></p>
                    <p><strong>Tipo:</strong> <span id="modalProductType"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </main>

    <!-- Scripts -->
    <script src="{% static 'js/tiposproductos.js' %}"></script>
    <script src="{% static 'js/productos-detalles.js' %}"></script>
</body>
</html>
